html, body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 2rem;
  background: #fff;
}

h1 {
  margin: 0 0 1rem 0;
}

p {
	font-size: inherit;
}

.gaia-footer {
  position: absolute;
  bottom: 0;
}

.gaia-footer p {
  font-size: 1.5rem;
  margin-top: auto;
  margin-bottom: auto;
}

.scrollable.header {
  height: calc(100% - 9rem);
}

section[role="region"] > header:first-child h1 {
	padding: 0;
  text-align: left;
}

section[role="region"] .content header {
  margin: 0 -1.5rem;
}

section[role="region"] .content header:first-child {
  margin-top: 0rem;
}