<div>
  <h4>GEOLOCATION</h4>
  <p>
	  <button ng-click='getMyCurrentPosition()'>Get my current position</button>
	  <button ng-click='watchMyPosition()' ng-style="myStyle">{{watchButtonText}}</button>
  </p>
  <br>
  <p>
    {{latitudeLabel}}
    <br>
    {{longitudeLabel}}
  </p>
  <br>
  <geolocation></geolocation>
</div>
