


    <div data-ng-controller="indexedDBController as indexedCtrl">

<H1>IndexedDB</H1>

<input type="text" data-ng-model="indexedCtrl.personText" name="person" placeholder="Platzhalter" style="float: right" />
  
 <div style="overflow: hidden; padding-right: .5em;">
	 <!--     
	<input type="button" value="+" data-ng-click="indexedCtrl.addPerson()"  /> 
	-->
	 <button data-ng-click="indexedCtrl.addPerson()" style="width: 100%;" >+</button> 
</div>

  
	  
	  
         <br />
      <table>
        <tr data-ng-repeat="person in indexedCtrl.Personen">
          <td>[<a href="/indexeddb" data-ng-click="indexedCtrl.deletePerson(person.id)"> - </a>]</td>
          <td>{{person.name}}</td>

        </tr>
      </table>
 
   <!--   <input type="button" value="Refresh" data-ng-click="indexedCtrl.refreshList()" />  -->
    </div>

