<div>
  <h4>Audiorecorder</h4>
  
  <button ng-click='startRecord()' ng-hide='!hideRecordButton'>Aufnahme starten</button>
  <button ng-click='stopRecord()'  ng-hide='hideRecordButton' class="danger" >Aufnahme stoppen</button>
  
  <br></br>
  <audiorecorder></audiorecorder>

</div>
