<div>
  <h4>Notification</h4>
  
  <form>
    <p>
      <input type="text" placeholder="Placeholder" value="Notification Text" required="" ng-model="customNotification" />
    </p>
  </form>
  
  <button ng-click='showNotification(customNotification)'>Show Notification</button>

</div>