<div>
  <h4>Phone call and SMS</h4>
  <p>
    <input type="tel" placeholder="Phone number" ng-model="phonenumber" required="">
  </p>
  <p>
    <button ng-click='callNumber(phonenumber)'>Make a Call</button>
    <button ng-click='sendSMS()'>Send SMS</button>
  </p>
  <br>
</div>
